#header1 {
    color: red;
    border: solid 1px blue;
    /* font-size, font-weight font-family*/
}

#header2 {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#collaborators {
    color: blue;
}

/* #file {
            color: brown;
        }
        #name {
            color: brown;
        }
        #contribute {
            color: brown;
        } */
.color-brown {
    color: brown
}

/* div {
            color: orange;  
        } */
/* #last_div {
            color: black;
        }
        #parent {
            color:blueviolet;
        }
        #child {
            color:aqua;
        } */
.backgroundColor {
    background-color: bisque;
}

#gedeyon {
    background-color: aquamarine;
}

.getting-ai {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
}

.footer {
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}